:root {
  /* Primary Colors */
  --primary: #0b1021;
  --primary-lighter: #141b33;
  --primary-darker: #060913;
  
  /* Accent Colors */
  --accent: #00CCB4;
  --accent-darker: #092935;
  --secondary-accent: #4f14ad;
  
  /* Action Colors */
  --success: #20e253;
  --warning: #f6f000;
  --danger: #f80363;
  --neutral: #7c7c7c;
  --white: #d8d8d8;
   
  --primary-bg-color: var(--primary);
  --secondary-bg-color: var(--primary-lighter);
  --editor-bg-color: var(--primary);
  --border-color: var(--accent-darker);
  --ui-text-color: var(--white);
  --sn-stylekit-info-color: var(--accent);
  --sn-stylekit-info-contrast-color: var(--primary-lighter);
  --sn-stylekit-neutral-color: var(--neutral);
  --sn-stylekit-neutral-contrast-color: var(--primary-lighter);
  --sn-stylekit-success-color: var(--success);
  --sn-stylekit-success-contrast-color: var(--primary-lighter);
  --sn-stylekit-warning-color: var(--warning);
  --sn-stylekit-warning-contrast-color: var(--primary-lighter);
  --sn-stylekit-danger-color: var(--danger);
  --sn-stylekit-danger-contrast-color: var(--white);

  --sn-desktop-titlebar-bg-color: var(--primary);
  --sn-desktop-titlebar-border-color: var(--accent-darker);
  --sn-desktop-titlebar-ui-color: var(--white);
  --sn-desktop-titlebar-ui-hover-color: var(--accent);
  
  --sn-stylekit-shadow-color: var(--primary-lighter);
  --sn-stylekit-background-color: var(--primary);
  --sn-stylekit-border-color: var(--accent-darker);
  --sn-stylekit-foreground-color: var(--white);
  --sn-stylekit-contrast-background-color: var(--primary-lighter);
  --sn-stylekit-contrast-foreground-color: var(--white);
  --sn-stylekit-contrast-border-color: var(--accent-darker);
  --sn-stylekit-secondary-background-color: var(--primary-darker);
  --sn-stylekit-secondary-foreground-color: var(--white);
  --sn-stylekit-secondary-border-color: var(--accent-darker);
  --sn-stylekit-secondary-contrast-background-color: var(--accent-darker);
  --sn-stylekit-secondary-contrast-foreground-color: var(--white);
  --sn-stylekit-secondary-contrast-border-color: var(--secondary-accent);
  --sn-stylekit-editor-background-color: var(--bg-color);
  --sn-stylekit-editor-foreground-color: var(--white);
  --sn-stylekit-paragraph-text-color: var(--white);
  --sn-stylekit-scrollbar-track-border-color: var(--accent-darker);
  --sn-stylekit-scrollbar-thumb-color: var(--accent);

  --sn-stylekit-general-border-radius: 4px;
  --sn-stylekit-monospace-font:  "Hack", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "Ubuntu Mono", "Courier New", monospace;
}
