:root {
    --primary-bg-color: #0b1021;
    --secondary-bg-color: #141b33;
    --editor-bg-color: #0b1021;
    --border-color: #092935;
    --ui-text-color: #d8d8d8; 

    // StyleKit Vars   
    --sn-stylekit-info-color: #00af9a;
    --sn-stylekit-info-contrast-color: var(--ui-text-color);

    --sn-stylekit-neutral-color: #7c7c7c;
    --sn-stylekit-neutral-contrast-color: var(--ui-text-color);

    --sn-stylekit-success-color: #62d248;
    --sn-stylekit-success-contrast-color: var(--ui-text-color);

    --sn-stylekit-warning-color: #f6f000;
    --sn-stylekit-warning-contrast-color: var(--ui-text-color);

    --sn-stylekit-danger-color: #f80363;
    --sn-stylekit-danger-contrast-color: var(--ui-text-color);

    --sn-stylekit-shadow-color: var(--secondary-bg-color);

    --sn-stylekit-background-color: var(--primary-bg-color);
    --sn-stylekit-border-color: #060913;
    --sn-stylekit-foreground-color: var(--ui-text-color);

    --sn-stylekit-paragraph-text-color: var(--ui-text-color);

    --sn-stylekit-contrast-background-color: var(--secondary-bg-color);
    --sn-stylekit-contrast-foreground-color:var(--ui-text-color);
    --sn-stylekit-contrast-border-color: var(--border-color);

    --sn-stylekit-secondary-background-color: #060913;
    --sn-stylekit-secondary-foreground-color:var(--ui-text-color);
    --sn-stylekit-secondary-border-color: var(--border-color);

    --sn-stylekit-secondary-contrast-background-color: #4f14ad;
    --sn-stylekit-secondary-contrast-foreground-color: var(--ui-text-color);
    --sn-stylekit-secondary-contrast-border-color: #4f14ad;

    --sn-stylekit-editor-background-color: var(--primary-bg-color);
    --sn-stylekit-editor-foreground-color: var(--ui-text-color);

    --sn-stylekit-scrollbar-track-border-color: var(--border-color);
    --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);

    --sn-desktop-titlebar-bg-color: var(--primary-bg-color);
    --sn-desktop-titlebar-border-color: var(--border-color);
    --sn-desktop-titlebar-ui-color: red;//var(--ui-text-color);
    --sn-desktop-titlebar-ui-hover-color: var(--sn-stylekit-info-color);
  }